@import "variables";

@charset "utf-8";

/* Common */
.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
.mincho { font-family: $mincho; }
.garamond { font-family: $garamond }
.ib { display: inline-block; }

.concept-container {
	max-width: 1056px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

.concept-sect-title {
	text-align: center;
	> * { display: block; }
	> strong {
		@extend .antialiased;
		color: #565656;
		font-family: $garamond;
		font-size: 36px;
		font-weight: 400;
		letter-spacing: .125em;
		line-height: 1;
		text-indent: .125em;
		text-transform: uppercase;
	}
	> small {
		color: #898989;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 1.2px;
		text-indent: 1.2px;
	}
}

.sect-title-sub {
	background: #C7C6C5;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	padding: 11px 24px 5px;
	> i {
		color: #fff;
		display: inline-block;
		font-family: $sans-serif;
		font-style: normal;
		font-weight: 500;
		letter-spacing: .15em;
		margin: 0 15px 0 0;
		text-transform: uppercase;
	}
	> small {
		color: #777777;
		font-size: 12px;
		letter-spacing: 1px;
		vertical-align: text-bottom;
	}
}

/* Header */
.concept-hero {
	background: url() no-repeat center center/ cover;
	width: 100%;
	height: 400px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	min-width: 1024px;
}

.concept-page-title {
	text-align: center;
	padding-top: 142px;
	height: 400px;
	box-sizing: border-box;
}

/* Introduction */
section.concept-intro {
	background: #fff;
	padding-top: 131px;
	padding-bottom: 140px;
	h2 {
		@extend .antialiased;
		color: #8A8886;
		font-size: 30px;
		font-family: $mincho;
		line-height: 50px;
		text-align: center;
	}
	p {
		max-width: 700px;
		text-align: justify;
		font-size: 14px;
		line-height: 24px;
		margin: 45px auto 0;
	}
}

/* Coordinate */
section.concept-coordinate {
	padding: 130px 0 140px;
	> * > h3 {
		color: #7A7876;
		font-family: $mincho;
		font-size: 18px;
		line-height: 30px;
		letter-spacing: .1em;
		text-align: center;
		text-indent: .1em;
		margin: 38px 0 0;
	}
	> * > p {
		max-width: 624px;
		text-align: justify;
		font-size: 14px;
		line-height: 24px;
		margin: 12px auto 0;
	}
}

.concept-coordinate-tab {
	margin: 50px 0 0;
}
.concept-coordinate-tab-ctrl {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	> button {
		width: 100%;
		height: 48px;
		appearance: none;
		background: transparent;
		border: 1px solid #BABCBC;
		color: #8A8886;
		cursor: pointer;
		font-size: 20px;
		line-height: 1;
		outline: none;
		transition: all .3s;
		> i {
			@extend .antialiased;
			font-family: $garamond;
			font-style: normal;
			text-transform: uppercase;
			letter-spacing: .125em;
		}
		> small {
			font-family: $mincho;
			font-size: 12px;
			display: inline-block;
			vertical-align: baseline;
		}
		&.active, &:hover {
			background: #AFA593;
			border-color: #AFA593;
			color: #fff;
		}
		&.active { cursor: default; }
	}
}
.tab-content {
	animation: fadeIn 1.5s;
	display: none;
	&.active { display: block; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

section.coordinate-item {
	padding: 54px 0 80px;
	> h4 {
		color: #7A7876;
		font-family: $mincho;
		font-size: 30px;
		line-height: 50px;
		letter-spacing: .1em;
		text-indent: .1em;
		text-align: center;
	}
	.sect-title-sub {
		margin: 80px 0 0;
	}	
}

.coordinate-plan {}

.coordinate-gallery {
	> picture {
		> img { width: 100%; }
	}
	img.thumbnail {
		transition: opacity .3s ease-in-out;
		&.active, &:hover { opacity: .6; }
		&:not(.active) { cursor: pointer; }
	}
}
.coordinate-gallery-thumbs {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 0;
	> li {
		width: calc(25% - 15px);
		> img { width: 100%; }
	}
}

.coordinate-floorplan {
	> figure {
		background: #fff;
		border: 1px solid #BABCBC;
		padding: 15px;
		text-align: center;
	}
	> p {
		text-align: justify;
		font-size: 14px;
		line-height: 24px;
		margin: 15px 0 0;
	}
}

.coordinate-product-item {
	margin: 64px 0 0;
	> picture {
		display: block;
		text-align: center;
	}
	> .txt {
		> h6 {
			color: #7A7876;
			font-family: $mincho;
			font-size: 21px;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 2px;
		}
		> .price {
			position: relative;
			color: #7A7876;
			font-size: 14px;
			line-height: 1;
			letter-spacing: 1.4px;
			margin: 10px 0 0;
			text-align: right;
			> span { position: relative; z-index: 1; }
			&:after {
				position: absolute;
				content: '';
				display: block;
				height: 1px;
				left: 0;
				right: 100px;
				bottom: 2px;
				background: url("/images/concept/price-leader.svg");
			}
		}
		> p {
			font-size: 14px;
			line-height: 22px;
			margin: 40px 0 0;
		}
	}
}

.coordinate-oproduct-list {
	text-align: center;
	> li {
		width: 180px;
		background: #fff;
		border: 1px solid #E5E5E5;
		display: inline-block;
		margin: 20px 10px 0;
		> img { width: 100%; }
	}
}

/* Brand Story */
section.concept-brandstory {
	background: #fff;
	padding: 130px 0 140px;
	aside {margin: 130px 0 0; }
}

.concept-brandstory-carousel {
	margin: 45px -10px;
	padding: 0 0 45px;
}

.slick-prev,
.slick-next {
	position: absolute;
	width: 17px;
	height: 17px;
	top: calc(50% - 9px);
	display: block;
	cursor: pointer;
	appearance: none;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	transform: rotate(45deg);
	// transition: border .2s;
	&:hover {
		border-color: #AFA593;
	}
}
.slick-prev {
	border-bottom: 1px solid #BABCBC;
	border-left: 1px solid #BABCBC;
	left: -40px;
}
.slick-next {
	border-top: 1px solid #BABCBC;
	border-right: 1px solid #BABCBC;
	right: -40px;
}

.slick-dots {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	> li {
		display: inline-block;
		margin: 0 8px;
		> button {
			width: 10px;
			height: 10px;
			appearance: none;
			background: #F2F2F2;
			border: none;
			cursor: pointer;
			font-size: 0;
			line-height: 0;
			outline: none;
			padding: 0;
			transition: background .2s;
			vertical-align: bottom;
			&:focus { outline: none; }
		}
	}
	> li > button:hover,
	> li.slick-active > button { background: #AFA593; }
}

article.topics-index-item {
	padding: 0 10px;
}
a.topics-index-item-link {
	color: #797E7D;
	display: block;
	> .thumb {
		position: relative;
		> picture {
			display: block;
			> img {
				width: 100%;
				height: auto;
			}
		}
		> span {
			position: absolute;
			width: 132px;
			right: 0;
			bottom: 0;
			background: #BFC7C5;
			color: #fff;
			display: block;
			font-size: 11px;
			text-align: center;
			padding: 8px 2px 6px;
		}
	}
	> time.published {
		display: block;
		font-size: 12px;
		letter-spacing: .125em;
		margin: 22px 0 0;
	}
	> h1.title {
		font-size: 18px;
		line-height: 22px;
		margin: 4px 0 7px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	> p.excerpt {
		font-size: 13px;
		line-height: 21px;
	}
	> .read {
		font-size: 11px;
		letter-spacing: .125em;
		text-transform: uppercase;
		text-align: right;
		margin: 40px 0 0;
		&:after {
			width: 72px;
			height: 1px;
			background: #BABCBC;
			content: "";
			display: inline-block;
			margin: 0 0 0 8px;
			vertical-align: middle;
		}
	}
}

p.nopost {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	margin: 45px 0;
}

ul.concept-service-list {
	> li {
		> a {
			background: url() no-repeat center/cover;
			color: #fff;
			display: block;
			padding: 37px 10px 35px;
			text-align: center;
			&:hover { opacity: .6; }
			> * { display: block; }
			> i {
				font-size: 28px;
				font-style: normal;
				line-height: 36px;
				letter-spacing: .15em;
				text-indent: .15em;
				text-transform: uppercase;
			}
			> strong {
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				letter-spacing: .1em;
				text-indent: .1em;
			}
		}
	}
}

@media (min-width: 641px) { @import "concept_pc"; }
