<div class="sns-btns">
	<a class="fb" href="{{href ? href : ''}}" data-platform="fb" rel="nofollow"><i class="icon">f</i></a>
	<a class="tw" href="{{href ? href : ''}}" data-platform="tw" rel="nofollow"><i class="icon">t</i></a>
	<a class="hb" href="{{href ? href : ''}}" data-platform="hb" rel="nofollow"><i class="icon">b</i></a>
	<a class="pk" href="{{href ? href : ''}}" data-platform="pk" rel="nofollow"><i class="icon">p</i></a>
</div><!-- .sns-btns -->
